aiohttp>=3.9.0
google-cloud-storage==3.4.1
google-auth>=2.42.1
google-api-core>=2.28.1
python-dotenv>=1.0.1
reportlab>=4.2.0
pdf2image>=1.17.0
Pillow>=10.4.0
markdown>=3.7
weasyprint>=62.1
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
langchain-google-genai>=0.3.0
langchain-chroma>=0.3.0
pypdf>=5.0.1
chromadb>=0.5.3
importlib_metadata>=8.7.0
